@{
	Layout = null;
}

<div class="container visible-sm visible-xs" style="color:white">

	<div style="background-color:#335271; padding:10px">
		@Html.Partial("carouselItems\\_OfferS")
	</div>
	<br/>
	<div style="background-color:#193b91; padding:10px">
		@Html.Partial("carouselItems\\_AspNetCoreS")
	</div>
	<br />
	<div style="background-color:#19973d; padding:10px">
		@Html.Partial("carouselItems\\_AspNetWebFormsS")
	</div>
	<br />
	<div style="background-color:#19a591; padding:10px">
		@Html.Partial("carouselItems\\_WinFormsS")
	</div>
	<br />
	<div style="background-color:#ed8b06; padding:10px">
		@Html.Partial("carouselItems\\_DevExpressS")
	</div>
	<br />
	<div style="background-color:#227ee8; padding:10px">
		@Html.Partial("carouselItems\\_MobileS")
	</div>
	<br />
	<div style="background-color:#9e4be8; padding:10px">
		@Html.Partial("carouselItems\\_WinServicesS")
	</div>
	<br />
	<div style="background-color:#170b88; padding:10px">
		@Html.Partial("carouselItems\\_DbS")
	</div>
	<br />
	<div style="background-color:#9e1326; padding:10px">
		@Html.Partial("carouselItems\\_ReportingS")
	</div>

</div>

